#gira {
    margin-top: 8%;
}
footer{
        background-color: map-get($fondo,fondo1);
        padding: 10px;
        margin-top: 2%;         
}
img.galeria {
    &:hover {
        transform: scale(1.1);
        transition: 1s;
    }
}
/* EXTEND */
.boton {
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 20px;
}

.boton--enviar {
    @extend .boton;
    background-color: beige;
}
.boton--limpiar {
    @extend .boton;
    background-color: bisque;
}
