/* VARIABLES */
$colorletra: rgb(255, 255, 255);
/* MIXIN */
@mixin tamaño ($tamaño) {
    font-size: $tamaño;
}
/* ESTILOS*/
header{
    h1 {
        color: $colorletra;
        font-family:Gloria Hallelujah ;
    }
}
main{
    h2,h3 {
        color: $colorletra;
        font-family:Nunito Sans ;
        @include tamaño(190%);
    }
    p {
        color: $colorletra;
        line-height: 1.5;
        font-family: Arial;
        @include tamaño(100%)
    }
    form {
        label {
            color: $colorletra;
        }
    }
}
footer {
    p {
        color: $colorletra;
        font-family: Georgia;
        font-weight: 600;
        @include tamaño(140%)
    }     
}