/* VARIABLES */
$colorletra: rgb(255, 255, 255);
/* ESTILOS*/
html {
    background-color: rgb(22, 22, 22);
    body {
        background-color: rgb(23, 23, 23);
    }
}
#gira {
    margin-top: 8%;
}
div.footer {
    color: $colorletra;
    background-color: rgb(133, 133, 133);
    padding: 10px;
    font-size: 20px;
    font-family: Georgia;
    font-weight: 600; 
    margin-top: 2%; 
}
h2,h3 {
    color: $colorletra;
    font-family:Nunito Sans ;
    font-size: 30px;
}

p {
    color: $colorletra;
    line-height: 1.5;
    font-family: Arial;
    font-size: 100%;
}
h1 {
    color: $colorletra;
    font-family:Gloria Hallelujah ;
}
img.galeria {
    &:hover {
        transform: scale(1.1);
        transition: 1s;
    }
}
form {
    label {
        color: $colorletra;
    }
}